apiVersion: apps/v1
kind: Deployment
metadata:   
  annotations:  
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas" 
  name: backend-tests-java-quarkus-lrtsjjko
spec:
  replicas: 1 
  template: 
    spec:
      containers:
      - image: quay.io/rhtap_qe/backend-tests-java-quarkus-lrtsjjko:c4de1bf9f7d2c7a00c0288107a8c823810273f18@sha256:97075ec7d4f49e011fd9006167ae6d371b1eb08ceaf8cac383f3833ec6f970d0
        name: container-image  
